<link href="node_modules/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet">

<!--USERNAME CARD -->
<div *ngIf="!isUserSet;else chatTemplate">

  <mat-card>

    <!--USERNAME CARD TITLE -->
    <mat-card-title>Enter your username</mat-card-title>

    <!--USERNAME CARD CONTENT -->
    <mat-card-content>

      <!--USERNAME INPUT -->
      <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="username">
      </mat-form-field>

      <!--USERNAME BUTTON -->
      <button mat-button color="primary" (click)="sendUsername()">Send</button>

    </mat-card-content>
  </mat-card>

</div>

<!--CHAT CARD-->
<ng-template #chatTemplate>
  <mat-card class="chat-card">

    <!--CHAT CARD TITLE -->
    <mat-card-title>Chat</mat-card-title>

    <!--CHAT CARD CONTENT -->
    <mat-card-content class="chat-content">
      <mat-list>
        <mat-list-item *ngFor="let message of messages">

          <mat-icon mat-list-icon><i class="material-icons">sentiment_satisfied</i></mat-icon>
          <h4 mat-line>{{message.username}}</h4>
          <p mat-line> {{message.content}} </p>

        </mat-list-item>
      </mat-list>
    </mat-card-content>

    <!--CHAT CARD FOOTER -->
    <mat-card-footer>

      <!--MESSAGE INPUT -->
      <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="message">
      </mat-form-field>

      <!--MESSAGE BUTTON -->
      <button mat-button color="primary" (click)="sendMessage()">Send</button>

    </mat-card-footer>

  </mat-card>

</ng-template>