
.example-form {
  min-width: 150px;
  max-width: 500px;
  padding: 30px;
  width: 80%;
}
 
.example-card {
  min-width: 150px;
  max-width: 500px;
  padding: 30px;
  width: 80%;
}

.send-message {
  margin: auto;
  width: 100%;
  padding: 30px;
}
